<footer class="footer">
  <div class="content">
    <div class=logo-section> <img class="footer-logo" src="../assets/img/logo-docluster.png">
      <p class='opacity'>Started in MIT, Cambridge</p>
      <p class='opacity'> Copyright 2017- All rights reserved. </p>
      <p> <a href='https://twitter.com/docluster_nlp'>Twitter</a> • <a href='http://facebook.com/docluster'>Facebook</a> • <a href='http://github.com/metinsay/docluster'>Github</a></p>
    </div>
    <ul>
      <li> <a href='contribute'>contribute</a> </li>
      <li> <a href='documentation'>documentation</a> </li>
      <li> <a href='dpm'>dpm</a> </li>
      <li> <a href='playground'>playground</a> </li>
    </ul>
    <ul>
      <li> <a href='system overview'>system overview</a> </li>
      <li> <a href='FAQ'>FAQ</a> </li>
      <li> <a href='lisence'>lisence</a> </li>
      <li> <a href='help'>help</a> </li>
    </ul>
    <ul>
      <li> <a href='contact'>contact</a> </li>
      <li> <a href='issues'>issues</a> </li>
      <li> <a href='feature requests'>feature requests</a> </li>
      <li> <a href='souce code'>souce code</a> </li>
    </ul>
  </div>
</footer>
