<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"> <a class="navbar-brand" href="#">
        <img  class="logo" src="../../assets/img/logo-docluster.png">
      </a> <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

      </button> </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a class="nav-item" href="#">features</a></li>
        <li><a class="nav-item" href="#">documentation</a></li>
        <li><a class="nav-item" href="#">dpm</a></li>
        <li><a class="nav-item" href="#">playgrounds</a></li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-item" href="#">sign up</a></li>
      </ul> -->
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
