<div class="content"> <img height="450px" class='inline-content' src="../../../assets/img/features.png">
  <div class="inline-content minimize">
    <h4>Python Library</h4>
    <p>docluster library will provide all essential up-to-date NLP/ML models, as well as pipelining tools and super easy visualization features. It alsoprovides access to dpm and download pre-trained models and training corpus.</p>
    <h4>Docluster Package Manager (dpm)</h4>
    <p>dpm is a package manager that enables community share their NLP models or training corpora with the rest of the world. There is no need to search for corpus nor need to train a base model for eight hours to start your own work.</p>
    <h4>Playgrounds</h4>
    <p>Playgrounds provide an easy test for any model inside dpm. Anyone can try pre-trained Word2Vec or sentiment analysis on your own data. If you are please with the results, you can incorprate the model in your build with the docluster Python library
      and dpm.</p>
  </div>
</div>
<div class="content"> <img height="450px" class='inline-content' src="../../../assets/img/features.png">
  <div class="inline-content minimize">
    <h4>Python Library</h4>
    <p>docluster library will provide all essential up-to-date NLP/ML models, as well as pipelining tools and super easy visualization features. It alsoprovides access to dpm and download pre-trained models and training corpus.</p>
    <h4>Docluster Package Manager (dpm)</h4>
    <p>dpm is a package manager that enables community share their NLP models or training corpora with the rest of the world. There is no need to search for corpus nor need to train a base model for eight hours to start your own work.</p>
    <h4>Playgrounds</h4>
    <p>Playgrounds provide an easy test for any model inside dpm. Anyone can try pre-trained Word2Vec or sentiment analysis on your own data. If you are please with the results, you can incorprate the model in your build with the docluster Python library
      and dpm.</p>
  </div>
</div>
<div class="content"> <img height="450px" class='inline-content' src="../../../assets/img/features.png">
  <div class="inline-content minimize">
    <h4>Python Library</h4>
    <p>docluster library will provide all essential up-to-date NLP/ML models, as well as pipelining tools and super easy visualization features. It alsoprovides access to dpm and download pre-trained models and training corpus.</p>
    <h4>Docluster Package Manager (dpm)</h4>
    <p>dpm is a package manager that enables community share their NLP models or training corpora with the rest of the world. There is no need to search for corpus nor need to train a base model for eight hours to start your own work.</p>
    <h4>Playgrounds</h4>
    <p>Playgrounds provide an easy test for any model inside dpm. Anyone can try pre-trained Word2Vec or sentiment analysis on your own data. If you are please with the results, you can incorprate the model in your build with the docluster Python library
      and dpm.</p>
  </div>
</div>
